body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
}

.input-group {
    margin-bottom: 15px;
}

label {
    font-size: 14px;
  margin-bottom: 5px;
  display: block;
  text-align: center;
}

input {
    padding: 8px;
  border: 1px solid #ccc;
  border-radius: -6px;
  margin-left: 89px;
  margin-right: 262px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}

.create-account {
    margin-top: 15px;
}

.create-account a {
    color: #3498db;
    text-decoration: none;
}

.create-account a:hover {
    text-decoration: underline;
}
